
*{
  box-sizing:border-box;
}
html{
  height:100%;
}
body{
  font-family:-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;
  height:100%;
  display:flex;
  align-items:center;
  justify-content:center;
  background: linear-gradient(white, #093637);
}

.button{
  position:absolute;
  background: white;
  border: 2px solid white;
  border-radius: 20px;
  padding: 4px 5px;
  top: 8px;
  right: 12px;
}

.button:hover{
  background: white;
  border: 2px solid gray;
}

header {
  position:absolute;
  top: 0rem;
  left: 0rem;
  width: 100%;
  color: #093637;
  font-size: 22px;
  font-weight: 700;
  padding: 10px;
  background:rgba(255,255,255,.9);
  display: flex;
  align-items: center;
  height: 60px;
}

.logo {
  height: 18px;
  margin-left: 10px;
}

.icon {
  height: 12px;
}

.text-input-wrap{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 42px;
  background:rgba(255,255,255,.9);
  display: flex;
  align-items: center;  
}

.text-input {
  bottom: 0;
  background: #093637;
  color: white;
  width: 100%;
  height: 30px;
  font-size: 13px;
  border-radius: 15px;
  border: none;
  margin: 10px;
  padding: 10px;
}

.message {
  color: white;
  background: #093637;
  height: 30px;
  font-size: 13px;
  border-radius: 15px;
  border: none;
  padding: 10px;
  margin: 5px;
  width: fit-content;
}

.messages {
  height: calc(100vh - 106px);
  display: flex;
  flex-direction: column-reverse;
  overflow-y: scroll;
  position: absolute;
  right: 0;
  margin: 10px;
  bottom: 35px;
  align-items: flex-end;
}

.message-wrap {
  display: inline-block;
  width: fit-content;  
}

.edit-username{
  display: flex;
  align-items: center;
}

.input-name{
  background: #093637;
  color: white;
  width: 80%;
  height: 30px;
  font-size: 13px;
  border-radius: 15px;
  border: none;
  padding: 10px;
  right: 12px;
}

.user {
  position: absolute;
  color: #093637;
  font-size: 13px;
  right: 12px;
  display: flex;
  align-content: center;
}

.edit-button {
  background: white;
  border: none;
  margin-left: 10px;
  color: #093637;

}

.edit-button:hover{
  background: white;
  border: none
}

.ok-button {
  background: white;
  border: none;
  border-radius: 20px;
  margin-left: 10px;
  color: #093637;


}

.ok-button:hover{
  background: white;
  border: none;
}