
*{
  box-sizing:border-box;
}
html{
  height:100%;
}
body{
  font-family:-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;
  height:100%;
  display:flex;
  align-items:center;
  justify-content:center;
  background: #b9c5bc;
}

.button{
  position:absolute;
  background: white;
  border: 2px solid white;
  border-radius: 20px;
  padding: 4px 5px;
  top: 8px;
  right: 12px;
}

.button:hover{
  background: white;
  border: 2px solid #d19358;
}

header {
  position:absolute;
  top: 0rem;
  left: 0rem;
  width: 100%;
  color: #d19358;
  font-size: 22px;
  font-weight: 700;
  padding: 10px;
  background:rgba(255,255,255,.9);
  display: flex;
  align-items: center;
  height: 60px;
  justify-content: space-between;
  border: none;
}

.title {
  display: flex;
  align-items: center;
}

.logo {
  height: 18px;
  margin-left: 10px;
}

.icon {
  height: 12px;
}

.text-input-wrap{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 42px;
  background:rgba(255,255,255,.9);
  display: flex;
  align-items: center; 
  justify-content: flex-end;
}

.text-input {
  bottom: 0;
  background: #d19358;
  color: white;
  width: calc(100% - 50px);
  height: 30px;
  font-size: 13px;
  border-radius: 15px;
  border: none;
  margin: 10px;
  padding: 10px;
}

.message {
  background: #d19358;
  height: fit-content;
  border-radius: 15px;
  border: none;
  padding: 10px;
  margin: 5px;
  width: fit-content;
}

.message:hover {
  background: #835428;
}


.msg-name {
  font-size: 8px;
  color:whitesmoke;
  font-weight: 900;
  position: relative;
  left: 10px;
}

.msg-text {
  font-size: 13px;
  color: white;
}



.messages {
  height: calc(100vh - 106px);
  display: flex;
  flex-direction: column-reverse;
  overflow-y: auto;
  position: absolute;
  right: 0;
  bottom: 45px;
  justify-content:flex-start;
  width: 100%;
}

.message-wrap[from="me"] {
  justify-content: flex-end;
}

.message-wrap {
  display: inline-block;
  width: fit-content;  

}

.edit-username{
  display: flex;
  align-items: center;
  
}

.input-name{
  background: #d19358;
  color: white;
  width: 80%;
  height: 30px;
  font-size: 13px;
  border-radius: 15px;
  border: none;
  padding: 10px;
  right: 12px;
}

.user {
  position: absolute;
  color: #d19358;
  font-size: 13px;
  right: 12px;
  display: flex;
  align-content: center;
}

.name-button {
  background: transparent;
  border: none;
  margin-left: 10px;
  color: #d19358;

}

.name-button:hover{
  background: transparent;
  color: #835428;
  border: none
}

.send-button {
  background: transparent;
  border: none;
  color: #835428;
}

.send-button:hover {
  background-color:transparent;
  color: #d19358;
  border: none;
}

.cam-button {
  background: transparent;
  border: none;
  color: #835428;
}

.cam-button:hover {
  background:transparent;
  color: #d19358;
  border: none;
}